.textSkills{
    margin-top: 20px;
    width:fit-content;
    color:white;
    font-size:50px;
    background: -webkit-linear-gradient(288deg, #ff5b00, #4ad8ff, #ff00f2, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills{
    width: 100vw;
    height: 99vh;
    display: flex;
    justify-content: center;
}
.skillsList{
    padding: 50px 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.parallax{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


//Image Grid
.imageGrid{
    width: 100%;
    height: 100%;
display: grid;
justify-content: space-between;
justify-self: center;
grid-template-columns: 20% 20% 20% 20%;
}

.imageParalax{
    width: 55%;
    object-fit: contain;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px black);
    transition: 0.4s;
    cursor: pointer;
    &:hover{
        width: 60%;
        filter: drop-shadow(0px 0px 10px white);
    }
    &:active{
        width: 60%;
        filter: drop-shadow(0px 0px 20px white);
    }
}

.skillstype{
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    background:-webkit-linear-gradient(288deg, #ff5b00, #4ad8ff, #ff00f2, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

// // // // Mini Screeens // // // // 

// On Laptop
@media screen and (max-width:900px) {
    .imageParalax{
        width: 75%;
        object-fit: contain;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 5px black);
        transition: 0.4s;
        cursor: pointer;
        &:hover{
            width: 80%;
            filter: drop-shadow(0px 0px 10px white);
        }
        &:active{
            width: 80%;
            filter: drop-shadow(0px 0px 20px white);
        }
    }
}
// On Tablet
@media screen and (max-width:600px) {
    .skillsList{
        padding: 20px 10px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .imageGrid{
        width: 100%;
        height: 100%;
    display: grid;
    justify-content: space-around;
    justify-self: center;
    grid-template-columns: 20% 20% 20%;
    }
    
    .imageParalax{
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 5px black);
        transition: 0.4s;
        cursor: pointer;
        &:hover{
            width: 100%;
            filter: drop-shadow(0px 0px 10px white);
        }
        &:active{
            width: 100%;
            filter: drop-shadow(0px 0px 20px white);
        }
    }
}
@media screen and (max-width:400px) {
    .imageParalax{
        width: 120%;
        object-fit: contain;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 5px black);
        transition: 0.4s;
        cursor: pointer;
        &:hover{
            width: 120%;
            filter: drop-shadow(0px 0px 10px white);
        }
        &:active{
            width: 120%;
            filter: drop-shadow(0px 0px 20px white);
        }
    }
    .skillstype{
    font-size: large;
}
}